.about {
  padding-top: 10px;
  padding-bottom: 50px;
}

.about__inner {
  background-image: url("../img/about.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 70%;
  //padding-bottom: 700px;
  padding-bottom: 170%;
}