.first-slide {
  .wrapper();
  background-color: @violet;
  color: white;
  background-image: url("../img/header-light.png"), url("../img/header-mobile.png");
  background-repeat: no-repeat;
  //background-position: right 8px;
  background-position: center 50px;
  background-size: 77%;
    //padding-top: 335px;
    //padding-top: 84%;
    padding-top: 95%;
    padding-bottom: 48px;
}

.first-slide__title {
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  //margin-top: 335px;
  letter-spacing: 2px;
  line-height: 45px;
  margin: 0;
}

.first-slide__title-description {
  font-size: 21px;
  margin-top: 20px;
}

.first-slide__button-description {
  font-size: 16px;
  margin-top: 25px;
  width: 214px;
}

.first-slide__button {
  margin-top: 45px;
}

@media (min-width: 530px) {
  .first-slide {
    padding-top: 500px;
    background-size: 400px;
  }
  
  .first-slide__button {
    //width: 490px;
    //margin: 0 auto;
    margin-top: 45px;
  }
}

@media (min-width: @tablet-width) {
  .first-slide {
    //padding-left: 438px;
    background-image: url("../img/header-light-tablet.png"), url("../img/header-tablet.png");
    background-position: left 40%;
    background-size: 50%;
    //background-size: 50%;
    padding: 0;
  }
  
  .first-slide__inner {
    padding-top: 12%;
    padding-bottom: 11%;
    padding-left: 55%;
  }
  
  .first-slide__title {
    font-size: 45px;
    line-height: 53px;
  }
  
  .first-slide__title-description {
    margin-top: 28px;
  }
  
  .first-slide__button {
    margin-top: 37px;
    width: 250px;
  }
}

@media (min-width: 900px) {
  .first-slide {
    background-image: none;
  }
  
  .first-slide__inner {
    background-image: url("../img/header-light-tablet.png"), url("../img/header-tablet.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 500px;
  }
  
}

@media (min-width: @desktop-width) {
  .first-slide {
    background-image: url("../img/first-slide-background.jpg");
    background-size: cover;
    background-position: center;
    padding: 0;
  }
  
  .first-slide__inner {
    padding-left: 640px;
    padding-right: 50px;
    padding-top: 225px;
    padding-bottom: 210px;
    background-image: url("../img/header-light-tablet.png"), url("../img/header-desktop.png");
    background-size: auto;
    background-position: 0 180px, 0px 180px;
    //-95
  }
  
  .first-slide__title {
    font-size: 60px;
    line-height: 75px;
  }
  
  .first-slide__title-description {
    font-size: 32px;
  }
  
  .first-slide__button {
    margin-top: 0; 
  }
  
  .first-slide__button-description {
    margin-top: 5px;
  }
  
  .first-slide__button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 75px;
    justify-content: space-between;
  }
}